In [23]:
import pandas as pd
import numpy as np

In [4]:
data = {'score1' : ['91','94','97','100'],
        'score2' : np.arange(100,90,-3)}
data
data_2 = {'score1' :['91','94','97','100','49'],
'score2': np.arange(1,6)}
data_2

{'score1': ['91', '94', '97', '100', '49'], 'score2': array([1, 2, 3, 4, 5])}

In [5]:
data = {'score1' : ['91','94','97','100'],
        'score2' : np.arange(100,90,-3)}
data

{'score1': ['91', '94', '97', '100'], 'score2': array([100,  97,  94,  91])}

In [6]:
type(data)

dict

In [7]:
df1 = pd.DataFrame(data = data, index = ['a', 'b', 'c', 'd'])
df1
# 객체를 DataFrame으로 만든 것.
#key와 value의 작성위치에 대해서 주의할 것.

  score1  score2
a     91     100
b     94      97
c     97      94
d    100      91

In [8]:
type(df1)

pandas.core.frame.DataFrame

In [9]:
data = np.arange(8).reshape(4,2)

In [10]:
df1 = pd.DataFrame(data = data, index = ['a', 'b', 'c', 'd'])
df1
# 위의 score 처럼 이름을 지정해주지 않으면 0~으로 자동으로 이름이 지정됨.

   0  1
a  0  1
b  2  3
c  4  5
d  6  7

In [11]:
data = np.array([[1, 2, 3, 4],
                 [5, 6, 7, 8],
                 [9, 10, 11, 12]],dtype = int)

In [12]:
df1 = pd.DataFrame(data, index = ['a','b','c'],
                   columns = ['score1','score2','score3','score4'])
df1

   score1  score2  score3  score4
a       1       2       3       4
b       5       6       7       8
c       9      10      11      12

In [13]:
df1.iloc[1, 2] # 2행 3열에 접근하는 방법1
# 좌표값으로 뽑는 것. loc은 key값으로 뽑는 것 
# 되도록 1번 방법을 사용할 것

7

In [14]:
df1.iloc[1][2] # 2행 3열에 접근하는 방법2

7

In [15]:
df1.iloc[:, 2]
# df1.iloc[:][2] 는 사용할 수 없음

a     3
b     7
c    11
Name: score3, dtype: int64

In [16]:
df1.loc['b','score3']

7

In [17]:
df1.loc['b']
# 이건 가능하지만, df1.loc['score3']은 불가능.

score1    5
score2    6
score3    7
score4    8
Name: b, dtype: int64

In [18]:
df1.loc[:,'score3']
# df1.loc['score3']은 불가능해서 위처럼 표현해야 함.

a     3
b     7
c    11
Name: score3, dtype: int64

In [19]:
# 행이 아니라 열을 attribute로 가지고 있음 즉, 변수명을 가지고 있는 것  df1.a 는 불가능하지만, df1.score3 은 가능
# 레코드보다 변수가 더 적은 것이 대부분이기 때문. 희소한 데이터인 경우엔 변수가 많을 수 있음. 
df1.score3

a     3
b     7
c    11
Name: score3, dtype: int64

In [20]:
df1.sum(axis=0)

score1    15
score2    18
score3    21
score4    24
dtype: int64

In [21]:
df1.sum()

score1    15
score2    18
score3    21
score4    24
dtype: int64

In [22]:
df1.sum(axis=1)

a    10
b    26
c    42
dtype: int64

In [26]:
mat1 = np.array([[1, 2, 3, 4],
          [5, 6, 7, 8],
          [9, 10, 11, 12]], dtype = int) # 3 X 4

mat2 = np.arange(13, 25, dtype = int).reshape(3,4) # 3 X 4

df1 = pd.DataFrame(mat1)
df2 = pd.DataFrame(mat2)

In [31]:
df1

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [28]:
df2

    0   1   2   3
0  13  14  15  16
1  17  18  19  20
2  21  22  23  24

In [32]:
df1*df2

     0    1    2    3
0   13   28   45   64
1   85  108  133  160
2  189  220  253  288

In [33]:
df2.T
# 안쪽의 자릿수가 같아야 하기 때문에 df2를 대각선으로 변형해주는 것 즉, 3x4를 4x3으로 변경한 것

    0   1   2
0  13  17  21
1  14  18  22
2  15  19  23
3  16  20  24

In [34]:
df1.dot(df2.T)
# 행렬곱으로 3x3으로 나옴.

     0    1    2
0  150  190  230
1  382  486  590
2  614  782  950

In [35]:
pd.concat((df1,df2),axis=1)
# column의 중복이 있음. colum은 변경할 수 없음 각자의 의미를 가진다. column의 순서를 바꿀 수 있음.

   0   1   2   3   0   1   2   3
0  1   2   3   4  13  14  15  16
1  5   6   7   8  17  18  19  20
2  9  10  11  12  21  22  23  24

In [36]:
pd.concat((df1,df2),axis=0)
# index의 중복이 있음. reindex로 index를 다시 만들 수 있음

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
0  13  14  15  16
1  17  18  19  20
2  21  22  23  24

In [38]:
mat1 = np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]],dtype=int)
df1=pd.DataFrame(mat1, index=['a','b','c'],
                 columns=['score1',
                         'score2',
                         'score3',
                         'score4',
                         'score5'])

In [40]:
mat = np.array([[3,4,5,6],[7,8,9,10],[11,12,13,14]], dtype= int)
df2=pd.DataFrame(mat2,index=['a','b','c'],
                columns=['score3','score4','score5','score6'])

In [41]:
df3 =df1+df2

In [42]:
df3
# 겹치는 부분만 연산. 
# 형이 안맞는 부분은 덧셈연산은 합집합은 만들어두고 없는 값은 null로 만들어 두는 것.
# 없는 값을 기준으로 연산을 진행

   score1  score2  score3  score4  score5  score6
a     NaN     NaN      16      18      20     NaN
b     NaN     NaN      25      27      29     NaN
c     NaN     NaN      34      36      38     NaN

In [44]:
df3.isnull()

   score1  score2  score3  score4  score5  score6
a    True    True   False   False   False    True
b    True    True   False   False   False    True
c    True    True   False   False   False    True

In [45]:
df3.where(df3.notnull())
# where(true/false) : true에 해당하는 값만 표현해주는 것.

   score1  score2  score3  score4  score5  score6
a     NaN     NaN      16      18      20     NaN
b     NaN     NaN      25      27      29     NaN
c     NaN     NaN      34      36      38     NaN

In [46]:
df3.dropna(axis=0)
# null값을 지워주는 기능(:dropna)인데, 모두 날아가 버림. 왜????

Empty DataFrame
Columns: [score1, score2, score3, score4, score5, score6]
Index: []

In [47]:
df3.dropna(axis=1)

   score3  score4  score5
a      16      18      20
b      25      27      29
c      34      36      38

In [48]:
df3.index.name = 'idx_name'
df3.columns.name = 'exam'
df3

exam      score1  score2  score3  score4  score5  score6
idx_name
a            NaN     NaN      16      18      20     NaN
b            NaN     NaN      25      27      29     NaN
c            NaN     NaN      34      36      38     NaN

In [49]:
sr1 = pd.Series([91,100,93,94], index = list('abcd'))
sr1

a     91
b    100
c     93
d     94
dtype: int64

In [51]:
sr1.reindex(['kim','a','b','c','d'])
# kim이 브로드캐스팅이 된 것.

kim      NaN
a       91.0
b      100.0
c       93.0
d       94.0
dtype: float64

In [52]:
sr1.reindex(['kim','a','b','c','d'],fill_value=0)
# fill_value : 빈 곳에 값을 채워주는 것. 평균값, 최댓값의 함수를 넣을 수 있음.

kim      0
a       91
b      100
c       93
d       94
dtype: int64

In [62]:
mat1 = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]], dtype=int)
df1 = pd.DataFrame(mat1, index = ['a','b','c'],
                   columns=['score1'
                   ,'score2'
                   ,'score3'
                   ,'score4'])
df1

   score1  score2  score3  score4
a       1       2       3       4
b       5       6       7       8
c       9      10      11      12

In [65]:
df1.reindex(index=['c','a'],columns=['score1','score5','score4'])
# reindex의 기능이 이름만을 바꾸는 것이 아니라 value의 값들도 변경되도록 만들어줌. 즉 재배치
# reindex는 초기화하며 index를 어떻게 할 지 정의한 것. 아무것도 안넣으면 index를 0~으로 바꿔줌. 
# 그런데 왜 정수값에서 실수값으로 바뀌지? 
# 해당 경우에서는 NaN 값이 함께 나올 때는 실수값으로 함께 나오는 경우임
# 다른 경우에는 계산중에 자동적으로 실수로 변경되는 경우가 있어, 이 때 결과값이 실수로 나타날 수 있음.

   score1  score5  score4
c     9.0     NaN    12.0
a     1.0     NaN     4.0

In [68]:
df1 = pd.DataFrame(np.random.randn(9).reshape(3,3), 
                   index=['stu1', 'stu2', 'stu3'], 
                   columns=['exam1', 'exam2', 'exam3'])
df1

         exam1     exam2     exam3
stu1 -0.262940 -2.318751  0.366524
stu2 -0.057439  1.133033 -0.029007
stu3 -2.175590  0.066469 -0.645266

In [66]:
f_length = lambda x: x.max() - x.min()

In [69]:
f_double = lambda x: 2*x
df1.applymap(f_double)

         exam1     exam2     exam3
stu1 -0.525880 -4.637502  0.733047
stu2 -0.114877  2.266066 -0.058014
stu3 -4.351180  0.132938 -1.290532

In [70]:
f_format = lambda x :'{0:0.2f}'.format(x)
df1.applymap(f_format)

      exam1  exam2  exam3
stu1  -0.26  -2.32   0.37
stu2  -0.06   1.13  -0.03
stu3  -2.18   0.07  -0.65

In [71]:
sr1 = pd.Series([91,100,93,94], index=['b','d','c','a'])
sr1

b     91
d    100
c     93
a     94
dtype: int64

In [72]:
sr1.sort_index()

a     94
b     91
c     93
d    100
dtype: int64

In [73]:
sr1.rank()

b    1.0
d    4.0
c    2.0
a    3.0
dtype: float64

In [74]:
sr1.sort_values()

b     91
c     93
a     94
d    100
dtype: int64

In [75]:
sr1.rank(ascending=False)

b    4.0
d    1.0
c    3.0
a    2.0
dtype: float64

In [76]:
df1

         exam1     exam2     exam3
stu1 -0.262940 -2.318751  0.366524
stu2 -0.057439  1.133033 -0.029007
stu3 -2.175590  0.066469 -0.645266

In [77]:
df1.sort_index(axis=1)

         exam1     exam2     exam3
stu1 -0.262940 -2.318751  0.366524
stu2 -0.057439  1.133033 -0.029007
stu3 -2.175590  0.066469 -0.645266

In [78]:
df1.sort_values(by='exam3')

         exam1     exam2     exam3
stu3 -2.175590  0.066469 -0.645266
stu2 -0.057439  1.133033 -0.029007
stu1 -0.262940 -2.318751  0.366524

In [79]:
df1.sort_values(by='exam1')

         exam1     exam2     exam3
stu3 -2.175590  0.066469 -0.645266
stu1 -0.262940 -2.318751  0.366524
stu2 -0.057439  1.133033 -0.029007

In [80]:
df1.sort_values(by = ['exam3', 'exam1']) # exam3 순으로 먼저 sort하고 그 다음 exam1 순으로 sort

         exam1     exam2     exam3
stu3 -2.175590  0.066469 -0.645266
stu2 -0.057439  1.133033 -0.029007
stu1 -0.262940 -2.318751  0.366524

In [83]:
df1 = pd.DataFrame ({'major' : ['stat','stat','CS','CS','math'],
                    'score1' : np.arange(100,90,-2),
                    'score2': np.arange(90,100,2)},
                    index =['lee','kim','park','cho','song'])
df1

     major  score1  score2
lee   stat     100      90
kim   stat      98      92
park    CS      96      94
cho     CS      94      96
song  math      92      98

In [84]:
df1.iloc[:,1:3]

      score1  score2
lee      100      90
kim       98      92
park      96      94
cho       94      96
song      92      98

In [89]:
df1.iloc[:,1:3].mean(axis=0)

score1    96.0
score2    94.0
dtype: float64

In [86]:
df1.describe()

           score1     score2
count    5.000000   5.000000
mean    96.000000  94.000000
std      3.162278   3.162278
min     92.000000  90.000000
25%     94.000000  92.000000
50%     96.000000  94.000000
75%     98.000000  96.000000
max    100.000000  98.000000

In [90]:
df1.iloc[:,1:3].idxmax()

score1     lee
score2    song
dtype: object

In [92]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, lee to song
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   major   5 non-null      object
 1   score1  5 non-null      int64
 2   score2  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 160.0+ bytes

In [93]:
df1.corr()
# 상관계수를 보여줌. 상관분석
# 범주형에는 적용되지 않는 것.

<ipython-input-93-49b3fcfeb4d1>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.corr()

        score1  score2
score1     1.0    -1.0
score2    -1.0     1.0

In [94]:
sr1 = pd.Series([np.nan,2.,np.nan,4.0])

In [95]:
sr1

0    NaN
1    2.0
2    NaN
3    4.0
dtype: float64

In [96]:
sr1[sr1.notnull()]
# sr1.dropna()와 같은 값을 나타냄.

1    2.0
3    4.0
dtype: float64

In [100]:
df1 = pd.DataFrame({'CustomerId' : range(1, 11), 'Menu' : ("Kimbab " * 3 + "Bibimbab " * 3 + "Odeng " * 4).split()})
df2 = pd.DataFrame({'CustomerId':[2,4,6],'Table': ("SectorA "*2 + "SectorB").split()})
df3 = pd.DataFrame({'CustomerId':[2,5], 'Gender' : ["Male","Female"]})

In [101]:
df1

   CustomerId      Menu
0           1    Kimbab
1           2    Kimbab
2           3    Kimbab
3           4  Bibimbab
4           5  Bibimbab
5           6  Bibimbab
6           7     Odeng
7           8     Odeng
8           9     Odeng
9          10     Odeng

In [102]:
df2

   CustomerId    Table
0           2  SectorA
1           4  SectorA
2           6  SectorB

In [103]:
df3

   CustomerId  Gender
0           2    Male
1           5  Female

In [104]:
df4 = pd. merge(df1,df2, on = "CustomerId", how = 'outer')
df4

   CustomerId      Menu    Table
0           1    Kimbab      NaN
1           2    Kimbab  SectorA
2           3    Kimbab      NaN
3           4  Bibimbab  SectorA
4           5  Bibimbab      NaN
5           6  Bibimbab  SectorB
6           7     Odeng      NaN
7           8     Odeng      NaN
8           9     Odeng      NaN
9          10     Odeng      NaN

In [105]:
df5 = pd.merge(df4, df3, on="CustomerId", how = 'left')
df5
# 아래 나온 결과값에서 메뉴결, 예측치 등을 결정할 수 있음

   CustomerId      Menu    Table  Gender
0           1    Kimbab      NaN     NaN
1           2    Kimbab  SectorA    Male
2           3    Kimbab      NaN     NaN
3           4  Bibimbab  SectorA     NaN
4           5  Bibimbab      NaN  Female
5           6  Bibimbab  SectorB     NaN
6           7     Odeng      NaN     NaN
7           8     Odeng      NaN     NaN
8           9     Odeng      NaN     NaN
9          10     Odeng      NaN     NaN